params{
    libs = null
    output_directory = null
    rna_ref = null
    rna_whitelist = null
    rna_dir = null
    atac_ref = null
    atac_whitelist = null
    atac_dir = null
    atac_map = null
    atac_preproc = true
    threads = 1
    memgb = 50
}

manifest{
    homePage = "https://github.com/nkschaefer/align_pipelines"
    author = "Nathan Schaefer"
}

process{
    beforeScript = 'conda init && conda activate align_pipelines'
}
