params{
    libs = null
    output_directory = null
    rna_ref = null
    rna_ref_species = null
    rna_whitelist = null
    rna_dir = null
    atac_ref = null
    atac_ref_species = null
    atac_whitelist = null
    atac_dir = null
    atac_map = null
    multiome = true 
    demux_species = null
    genome_base = null
    dna_ref = null
    dna_dir = null
    num_chunks = 100
    fasta = null
    gtf = null
    threads = 1
    memgb = 50
}

manifest{
    homePage = "https://github.com/nkschaefer/align_pipelines"
    author = "Nathan Schaefer"
}

process{
    beforeScript = 'if [ "$CONDA_PREFIX" == "" ]; then conda init && conda activate align_pipelines; elif [ $( echo "$CONDA_PREFIX" | grep align_pipelines | wc -l ) -eq 0 ]; then conda deactivate && conda activate align_pipelines; fi'
}
